vllm==0.6.3.post1
faiss-gpu==1.7.2 # bug with gpu
rapidfuzz==3.10.1
spacy==3.7.2
jsonnet==0.20.0
base58==2.1.1
jsonlines==4.0.0
ftfy==6.3.1
ujson==5.10.0
accelerate==1.1.0
deepspeed==0.15.3
wandb
nvitop
fuzzywuzzy==0.18.0
python-Levenshtein==0.26.1
elasticsearch==7.17.9